/*
 * CONTACT CSS FILE
 * This file will contain CSS for only contact page sections
 */

/* ORDER HERO BANNER SECTION */
.about-main-banner {
  padding: 70px 0px;
}
.order-banner-section {
  display: none;
}
.how-to-order-section, .order-by-phone-section {
  background: #F9FAFB;
  padding: 50px 0;
}
.contact-banner .hero-title {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-Vxl);
  font-weight: var(--font-weight-regular);
  color: var(--faux-cg-blue);
  line-height: 65px;
  letter-spacing: 0;
  margin-top: 10px;
}
.about-content-section {
    padding: 50px 0;
    background-color: var(--alice-blue);
}

/* Customer agreement page*/
.customer-main-banner {
  padding: 70px 0px;
}

/* Customer Get Started*/
.get-started-banner {
    padding: 70px 0px;
}

@media only screen and (min-width: 375px ) {

}

@media only screen and (min-width: 425px ) {

}

/*Tablet*/
@media only screen and (min-width: 768px ) {
   
}

/*Laptop*/
@media only screen and (min-width: 1024px ) {

}
@media only screen and (min-width: 1920px ) {
  
}
@media only screen and (max-width: 767px ) {

}
