/*
 * BLOG CSS FILE
 * This file will contain CSS for only blogs sections
 */

/* ORDER HERO BANNER SECTION */
.blog-column {
  background-color: var(--alice-blue);
}
.blog-column h4{
  color: var(--faux-cg-blue);
  font-size: var(--font-size-xxxl);
  line-height: 28px;
}

/* Faq page */
.faq-section {
  background-color: var(--alice-blue);
  padding-top: 50px;
  padding-bottom: 50px;
}

.single-post .col-6, .single-post .col-12 {
  padding: 0;
}
.single-post .col-12 {
  margin-bottom: 50px;
}
@media only screen and (min-width: 375px ) {

}

@media only screen and (min-width: 425px ) {

}

/*Tablet*/
@media only screen and (min-width: 768px ) {
  .order-about-us .container .col-5 .section-title{
    display: none;
  }
  
}

/*Laptop*/
@media only screen and (min-width: 1024px ) {

}
@media only screen and (min-width: 1920px ) {
  .order-banner-section{
	background-position: top center !important;
  }
}
@media only screen and (max-width: 767px ) {
  .order-about-us {
    padding-left: 20px;
    padding-right: 20px;
  }
  .order-about-us .container .col-7 ,.content-wrap{
    padding-left: 0;
    padding-right: 0;
  }
  .order-about-us .container .col-5 .section-title{
    display: block;
  }
  .order-about-us .container .col-7 .section-title{
    display: none;
  }
  .order-about-us .container .col-7 .section-description{
    padding-top: 20px;
  }
  .order-shop .container .row .col-5 img{
    display: none;
  }
  .order-shop .container .row .col-5 video{
    display: block;
  }
  .order-shop .col-5 h3.section-title{
    font-family: var(--font-family-open-sans);
    font-size: var(--font-size-m-xxl);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .order-about-us .container .col-7 img{
    display: none;
  }
  .order-about-us .button, .order-shop .button{
    width: 100%;
  }
  .order-industry-slider h5 a{
    color: var(--faux-cg-blue);
  }
  .order-shop .container .col-12 .section-title{
    font-family: var(--font-family-open-sans);
    font-size: var(--font-size-m-IVxl);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: 36px;
  }

}
