@media (min-width: 0) {
section#custom-checkout-progressbar .col-9 {
    padding: 0;
}
ul#progressbar::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    width: 75%;
    height: 1px;
    background: #000;
    content: "";
    top: 9px;
}
ul#progressbar {
    position: relative;
}
#fieldset1 {
    padding: 0 30px;
}
#fieldset1 #checkout-custom-login-form {
    /* padding: 25px; */
    background: transparent;
}
#fieldset1 #checkout-custom-login-form .forgot-pass-btn {
    margin-top: 15px;
}
#fieldset1 #checkout-custom-login-form input {
    padding: 12px 15px;
    border-radius: 20px;
    border: none;
}
section#custom-checkout-progressbar input, section#custom-checkout-progressbar .select2  {
    background: #F1F1F1 !important;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
}
section#custom-checkout-progressbar .select2 .select2-selection__rendered  {
    border: none !important;
}
.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 5px;
}
textarea#order_comments {
    height: 110px;
    margin-top: 15px;
}
section#custom-checkout-progressbar .col-3 {
    background: #F1F1F1;
    padding: 20px;
}
section#custom-checkout-progressbar {
    margin-bottom: 50px;
}
}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {
section#custom-checkout-progressbar .col-9 {
    padding: 0 80px;
}
}
@media (min-width: 992px) {

}
@media (min-width:1200px) {

}
@media (min-width: 1440px) { 
    
}
@media (min-width: 1680px) { 
    
}
@media (min-width:1920px) { 
    
}


