.three-column-cards {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.three-column-cards:hover .overlay {
  opacity: 1;
}
.section-padding {
  padding-top: 80px;
}
.section-margin {
  margin-bottom: 80px;
}

.testimonial-wrp {
  position: relative;
}
.testimonial-awtar {
  width: 80px;
  height: 80px;
}
.testimonial-awtar img {
  border-radius: 50%;
}
.testimonial-star {
  display: flex;
}
.test-back-column {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}
.test-back-column .testimonial-awtar {
  margin: auto;
}
.test-back-column ul {
  justify-content: center;
}