@media (min-width: 0) {
    .contact-newsletter-wrp {
        background: #F1F1F1;
        padding: 50px 0 25px 0;
    }

    .page-template-contact-us .form-footer .button-secondary {
        display: none;
    }

    .contact-newsletter-wrp form {
        display: flex;
    }

    .contact-newsletter-wrp .tnp-email {
        background: #000 !important;
    }

    .contact-newsletter-wrp .tnp-field-button {
        margin-left: -35px;
    }

    .contact-newsletter-wrp h4 {
        font-family: var(--font-family-lato);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: 24px;
        line-height: 30px;
        color: var(--eerie-black);
        margin: 0;
    }

    .contact-newsletter-wrp .widget_block h4 {
        display: none;
    }

    .contact-newsletter-wrp .col-4 p {
        margin-top: 10px;
    }

    .contact-newsletter-wrp p a {
        color: #000 !important;
    }

    .contact-newsletter-wrp .row {
        align-items: center;
        display: flex;
    }

    .widget_block h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .contact-newsletter-wrp .col-4 {
        margin-bottom: 0;
    }

    .page-template-contact-us #block-25 h3 {
        display: none;
    }

    .contact-newsletter-wrp .tnp-email {
        color: #ffffff !important;
    }

    .news-letter-part {
        display: none;
    }
}

@media (min-width: 576px) {}

@media (max-width: 767px) {
    .wpcf7-form .form-footer div.col-6 {
        padding-right: 2px;
    }

    .contact-newsletter-wrp .row {
        display: block;
    }

    .contact-newsletter-wrp .col-4 {
        margin-bottom: 5px;
    }

}

@media (min-width: 768px) {
    .news-letter-part {
        display: block;
    }
}

@media (min-width: 992px) {
    .contact-page .container {
        width: 85%;
        margin: auto;
    }
}

@media (min-width:1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

@media (min-width:1920px) {}