@media (min-width: 0) {
    section.main-nav.full-width {
        padding: 20px 0px;
    }

    header .main-navigation #menu-main-menu li {
        position: unset;
    }

    header .main-navigation .menu-main-menu li a {
        color: #1E1E1E;
    }

    header .main-navigation .menu-main-menu li a:visited {
        color: #1E1E1E;
    }

    header #product-search-icon {
        width: 22px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    header #product-search-icon img {
        width: 80%;
        border-radius: 0;
    }

    header #menu-toggler {
        margin-right: 20px;
        cursor: pointer;
    }

    header #menu-toggler img {
        width: 35px;
        border-radius: 0px;
    }

    header .small-device-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }

    header .small-device-icons ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .small-device-icons ul li {
        margin-left: 15px;
    }

    header .small-device-icons ul li a.my-account-link,
    header .small-device-icons ul li a.mobile-bag-icon {
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .small-device-icons ul li a img {
        width: 22px;
        height: auto;
        border-radius: 0px;
    }

    header .small-device-icons ul li a.mobile-bag-icon img {
        width: 27px;
    }

    header .small-device-icons ul li a.mobile-bag-icon {
        position: relative;
    }

    header .mobile-cart-items-count {
        position: absolute;
        bottom: -3px;
        right: 0;
        background-color: #fff;
        border-radius: 50px;
        z-index: 9;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    header .mobile-search-box {
        width: 100%;
        margin-top: 20px;
        position: relative;
    }

    body header .mobile-search-box .search-form label input {
        width: 100%;
        border: none;
        border-radius: 0px;
        background-color: #F1F1F1;
        color: #1E1E1E;
        font-family: var(--font-family-lato);
        font-weight: 300;
        padding: 13px 10px;
    }

    header .mobile-search-box .search-submit {
        display: none;
    }

    header .mobile-search-icon {
        width: 30px;
        position: absolute;
        top: 12px;
        right: 5px;
    }

    header .mobile-search-icon img {
        width: 20px;
        height: auto;
        border-radius: 0px;
    }

    header .mob-mega-menu {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 100%;
        transition: all 0.3s;
        background-color: #f1f1f1;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        z-index: 99;
        text-align: center;
    }

    header .mob-mega-menu.left-0 {
        left: 0;
    }

    header .mob-mega-menu h4 {
        margin-top: 15px;
        font-family: var(--font-family-lato);
        font-weight: 700;
    }

    header .mob-mega-menu ul li {
        margin-top: 15px;
    }

    header .mob-mega-menu ul {
        margin: 0;
        padding: 0;
    }

    header .mob-mega-menu ul li a {
        font-size: 14px;
        line-height: 24px;
        font-family: var(--font-family-lato);
        font-weight: 400;
        color: #1E1E1E;
        text-decoration: none;

    }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    header .dropdown:hover .dropdown-content {
        display: block;
    }

    .main-navigation .dropdown .dropdown-content {
        display: none;
        left: 0;
    }

    header section.main-nav.full-width {
        padding: 8px 0;
    }

    header .mega-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F1F1F1;
        z-index: 99;
        padding: 51px 0px;
    }

    header .small-device-icons {
        display: none;
    }

    header #desktopSearch {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    header #desktopSearch .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 600px;
        margin: 0px auto;
        transform: translate(-50%, -70%);
    }

    header #desktopSearch .modal-content form input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 30px;
        font-family: var(--font-family-lato);
        font-weight: 400;
        border-radius: 0px;
    }

    header #desktopSearch .close {
        top: 0;
        background-color: transparent;
        color: #fff;
        right: 0;
    }

    header #desktopSearch .modal-content form input.search-submit {
        display: none;
    }

    header #desktopSearch .modal-content form input::placeholder,
    header #desktopSearch .modal-content form input::-moz-placeholder,
    header #desktopSearch .modal-content form input::-webkit-input-placeholder {
        font: 30px;
        color: #fff;
        font-family: var(--font-family-lato);
        font-weight: 400;
    }

    header .mobile-search-box {
        display: none;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}