/*
 * HOW TO ORDER CSS FILE
 * This file will contain CSS for only how to order sections
 */

/* ORDER HERO BANNER SECTION */
.order-banner-section {
  padding: 173px 0px;
}
.order-banner-section .hero-title {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-Vxl);
  font-weight: var(--font-weight-regular);
  color: var(--faux-cg-blue);
  line-height: 65px;
  letter-spacing: 0;
  margin-top: 10px;
}
.order-banner-section .hero-text {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: 33px;
  color: var(--black2);
  width: 100%;
  margin-top: 20px;
}
.order-banner-section .hero-paragraph {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: 25px;
  color: var(--black2);
  margin-top: 20px;
}
.order-banner-section .hero-buttons a{
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semi-bold);
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 233px;
  height: 45px;
  padding: 12px 30px;
}
.order-banner-section .banner-image-wrap {
  position: relative;
  top: 0;
  left: 0;
}
.order-banner-section .banner-image-back {
  width: 100%;
  height: auto;
  max-width: 427px;
  max-height: 572px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.order-banner-section .banner-image-front {
  width: 100%;
  height: auto;
  max-width: 335px;
  max-height: 448px;
  position: absolute;
  top: 162px;
  left: -40px;
  border-radius: 20px;
}
.order-col-section{
  padding: 70px 0;	
}
.order-online-section {
  padding: 50px 0;
  background-color: var(--alice-blue);
}

.order-online-section .container{
  padding-left: 0px;
  padding-right: 0px;
}

.order-online-section .container .col-5 {
  padding: 0px;
  margin-top: 0;
}

.order-by-phone-section{	
  padding: 50px 0;
}

.order-by-fax-section{
  padding: 50px 0;	
}

/* Faq page */
.faq-section {
  background-color: var(--alice-blue);
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 375px ) {

}

@media only screen and (min-width: 425px ) {

}

/*Tablet*/
@media only screen and (min-width: 768px ) {
  .order-about-us .container .col-5 .section-title{
    display: none;
  }
  
}

/*Laptop*/
@media only screen and (min-width: 1024px ) {

}
@media only screen and (min-width: 1920px ) {
  .order-banner-section{
	background-position: top center !important;
  }
}
@media only screen and (max-width: 767px ) {
  .order-about-us {
    padding-left: 20px;
    padding-right: 20px;
  }
  .order-about-us .container .col-7 ,.content-wrap{
    padding-left: 0;
    padding-right: 0;
  }
  .order-about-us .container .col-5 .section-title{
    display: block;
  }
  .order-about-us .container .col-7 .section-title{
    display: none;
  }
  .order-about-us .container .col-7 .section-description{
    padding-top: 20px;
  }
  .order-shop .container .row .col-5 img{
    display: none;
  }
  .order-shop .container .row .col-5 video{
    display: block;
  }
  .order-shop .col-5 h3.section-title{
    font-family: var(--font-family-open-sans);
    font-size: var(--font-size-m-xxl);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .order-about-us .container .col-7 img{
    display: none;
  }
  .order-about-us .button, .order-shop .button{
    width: 100%;
  }
  .order-industry-slider h5 a{
    color: var(--faux-cg-blue);
  }
  .order-shop .container .col-12 .section-title{
    font-family: var(--font-family-open-sans);
    font-size: var(--font-size-m-IVxl);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: 36px;
  }

}
