@media (min-width: 0) {
  .section-padding {
      padding-top: 80px;
  }
  .section-margin {
     margin-bottom: 80px;
  }
  /*--------------------login popup--------------------*/
  .login-modal .simple-tabs button:hover {
      background: inherit;
  }
  .login-modal .simple-tabs .subtitle {
      display: none;
  }
  .login-modal .woocommerce-form-register select, .login-modal #license_expiry {
      padding: 15px 15px;
      border-radius: 50px;
      margin: 10px;
      width: 100%;
      display: block;
      background: #1e1e1e;
      color: #898989;
      font-size: 12px;
  }
  .woocommerce-form-login, .lost_reset_password {
      width: 48%;
      margin: auto;
      padding: 50px;
      background: #F7F7F7;
      border-radius: 10px;
      margin-bottom: 50px;
  }
  .woocommerce-form-login .woocommerce-Input--text, .lost_reset_password .woocommerce-Input--text {
  	width: 100%;
  }
  .login-title {
      display: none;
  }
  .woocommerce-form-login input, .lost_reset_password input {
      padding: 10px 20px;
      margin-top: 8px;
  }
  .woocommerce-LostPassword a {
      color: #000;
  }
  .woocommerce-Button {
      background: #000;
      color: #fff;
      border: 1px solid #000;
  }
  #customer_login form {
      width: 100%;
  }
  #custom-registration-tabs fieldset {
      border: none;
  }
  .login-modal form button {
      margin: 10px;
  }
  #login-modal .woocommerce-form-login {
      background: transparent;
  }
  .login-modal form button:hover {
      color: #000;
  }
  form#checkout-custom-login-form {
      padding: 0;
  }
  #login-modal .modal-window {
       max-height: inherit;
  }

  #custom-registration-tabs fieldset.crf-tab {
  	background: inherit;
  	border: 0 none;
  	border-radius: none;
  	box-sizing: border-box;
  	width: 100%;
  	padding-bottom: 20px;
  	position: relative
  }

  #custom-registration-tabs fieldset.crf-tab .finish {
    text-align: left;
  }

  #custom-registration-tabs fieldset.crf-tab:not(:first-of-type) {
  	display: none
  }

  #custom-registration-tabs p.status {
  	color: red;
  }

}
