@media (min-width: 0) {
    .search-result-content {
        margin-bottom: 50px;
    }
    .search-result-content input {
        padding: 10px;
        border: none;
        background: #f9fafb;
    }
    .search-result-content .search-submit {
        background: #037e9b;
        padding: 10px 21px;
        color: #fff;
    }
    .search-result-content h5, .search-result-content a {
        margin: 15px 0;
    }
    .search-result-content .footer-pdt {
        padding: 5px;
    }
    .search-result-content a {
        color: #000;
    }
    .search-result-content .add_to_cart_button {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-result-content .add_to_cart_button:hover {
        color: #037e9b;
    }
}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width:1200px) {

}
@media (min-width: 1440px) { 
	
}
@media (min-width: 1680px) { 
	
}
@media (min-width:1920px) { 
	
}