/*
 * CONTACT CSS FILE
 * This file will contain CSS for only contact page sections
 */

/* ORDER HERO BANNER SECTION */
@media (min-width: 0) {

  .about-sec-one ul li {
    font-family: var(--font-family-open-sans);
    font-size: 14px;
    font-weight: var(--font-weight-light);
    font-style: normal;
    color: var(--black2);
    width: 100%;
    line-height: 22px;
    margin: 10px 0;
  }
    .about-content-section {
        padding: 50px 0;
        background-color: var(--alice-blue);
    }

    .about-sec-one ul {
      padding-left: 8px;
    }
    .better-choice p .button {
      min-width: 100%;
  }
  }
  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {
    .about-content-left-column .referral-data {
      padding-left: 80px;
      padding-right: 50px;
    }
    .better-choice .bg-dark {
      width: 75%;
      margin: auto;
  }
  .better-choice p .button {
    min-width: 230px;
}
  }
  @media (min-width: 992px) {

  }
  @media (min-width:1200px) {

  }
  @media (min-width: 1440px) {

  }
  @media (min-width: 1680px) {

  }
  @media (min-width:1920px) {

  }
