/*
 * CONTACT CSS FILE
 * This file will contain CSS for only contact page sections
 */

/* ORDER HERO BANNER SECTION */
@media (min-width: 0) {
    .order-banner-section {
      display: none;
    }
    .how-to-order-section, .order-by-phone-section, .about-main-banner {
      background: #F9FAFB;
      padding: 50px 0;
    }
    .contact-banner .hero-title {
      font-family: var(--font-family-open-sans);
      font-size: var(--font-size-Vxl);
      font-weight: var(--font-weight-regular);
      color: var(--faux-cg-blue);
      line-height: 65px;
      letter-spacing: 0;
      margin-top: 10px;
    }
    .about-content-section {
        padding: 50px 0;
        background-color: var(--alice-blue);
    }



  }
  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {
    .about-content-left-column .referral-data {
      padding-left: 80px;
      padding-right: 50px;
    }
    .better-choice .bg-dark {
      width: 75%;
      margin: auto;
  }
  }
  @media (min-width: 992px) {

  }
  @media (min-width:1200px) {

  }
  @media (min-width: 1440px) {

  }
  @media (min-width: 1680px) {

  }
  @media (min-width:1920px) {

  }
