.home-faq-section .group .body-part {
    display: none;
}

.home-faq-section .accordion-title {
    margin: 0;
}

.home-faq-section .group {
    border-bottom: 1px solid #037E9B;
    padding: 15px 0px;
}

.home-faq-section .accordion-title {
    margin: 0;
    padding-right: 20px;
}


.home-faq-section .group a::after {
    content: "+";
    right: 0;
    padding-right: -5px;
    top: 0;
    cursor: pointer;
    right: 20px;
    position: absolute;
    color: #037E9B;
}

.home-faq-section .active .group a::after {
    content: "-";
}

.home-faq-section .group a {
    display: block;
    font-size: 20px;
    outline: none;
    position: relative;
    width: 100%;
}