@media (min-width: 0) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--faux-cg-blue);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--faux-cg-blue);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .three-column-cards {
    position: relative;
    width: 50%;
    max-width: 300px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .three-column-cards:hover .overlay {
    opacity: 1;
  }

  .section-padding {
    padding-top: 80px;
  }

  .section-margin {
    margin-bottom: 80px;
  }

  .testimonial-wrp {
    position: relative;
  }

  .testimonial-awtar {
    width: 80px;
    height: 80px;
  }

  .testimonial-awtar img {
    border-radius: 50%;
  }

  .testimonial-star {
    display: flex;
  }

  .test-back-column {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
  }

  .test-back-column .testimonial-awtar {
    margin: auto;
  }

  .test-back-column ul {
    justify-content: center;
  }

  article#post-12 {
    margin-bottom: 50px;
  }

  /* ------------------------------------------customer agreement------------------------------------ */
  .about-customer-content-section {
    padding-bottom: 50px;
  }

  .about-customer-content-section .section-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  /* Customer agreement page*/
  .customer-main-banner {
    padding: 70px 0px;
  }

  .desktop-order-phone {
    display: none;
}
.mobile-order-phone {
  display: block;
}
}

/*newsletter*/
.newsletter-wrp {
  padding: 20px;
  background: #b4d9b4;
  color: green;
  margin-top: 40px;
}

.newsletter-wrp p {
  color: green;
  font-weight: 500;
}

/*how to order*/
.page-template-how-to-order ul {
  padding-left: 8px;
}

.order-col-section .col-4 {
  margin-bottom: 25px;
}

/*404 page*/
.error-404.not-found {
  padding: 25px 0;
}

/*Registration*/

#registration-form-wrp fieldset {
  border: none;
  padding: 25px;
  margin: 25px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#registration-form-wrp fieldset label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  color: #000;
  font-weight: 500;
}
#registration-form-wrp fieldset label span {
  color: red;
}
#registration-form-wrp fieldset .primary-colr {
  color: #000;
}

#registration-form-wrp fieldset input,
#registration-form-wrp fieldset select {
  background-color: var(--grey1);
  border: 1px solid var(--white);
  margin-bottom: 20px;
  padding: 8px 15px !important;
  color: var(--faux-cg-blue);
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  outline: 0;
  border-radius: 0;
  width: 100%;
}

.registration-section .woocommerce-form__input-checkbox {
  width: 35px !important;
  float: left;
}
#registration-form-wrp .form-row {
  margin: 0;
}
.col-6.radio-wrp p {
  display: flex;
  align-items: center;
}
.radio-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
label.label-radio, .input-radio {
  margin-bottom: 0 !important;
}
.main-btn {
  background-color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
  color: var(--white);
  width: 220px;
  display: block;
  margin: auto;
  padding: 12px;
  margin-top: 25px;
}
@media (min-width: 576px) {



  /* Customer Get Started*/
  .get-started-banner {
    padding: 70px 0px;
  }

  /*newsletter*/
  .newsletter-wrp {
    padding: 20px;
    background: #b4d9b4;
    color: green;
    margin-top: 40px;
  }

  .newsletter-wrp p {
    color: green;
    font-weight: 500;
  }

  .woocommerce-products-header {
    padding: 20px;
    border: none !important;
  }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {

  /* Brand page*/
  .brands .prod-category {
    margin-right: 15px;
  }

  .woocommerce-products-header {
    padding: 35px 40px;
  }

  .order-col-section .col-4 {
    margin-bottom: 0;
}
.desktop-order-phone {
  display: block;
}
.mobile-order-phone {
  display: none;
}
.order-by-phone-section .content-wrap {
  padding: 0 50px;
}
}

@media (min-width: 992px) {}

@media (min-width:1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

@media (min-width:1920px) {}