/* Footer Top CSS start */

@media (min-width: 0px) {
    footer {
        color: var(--white);
    }

    footer .top-footer-newslettert .widget_block p {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 24px;
        color: var(--white);
        padding-bottom: 20px;
    }

    footer .top-footer-about .widget_text p {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 24px;
        color: var(--white);
        margin: 0;
    }

    footer .top-footer-contact h6 {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        color: var(--white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    footer .top-footer-contact .widget_text p,
    footer .top-footer-contact .widget_text p a {
        font-family: var(--font-family-montserrat);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        color: var(--white);
    }

    footer .top-footer-menu .widget-title {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 58px;
    }

    footer .top-footer-menu li a {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 24px;
        color: var(--white);
    }

    footer .top-footer-menu li {
        margin-bottom: 12px;
        float: left;
        width: 50%;
    }

    footer .top-footer-customer-service .widget-title {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 28px;
    }

    footer .top-footer-contact h6 {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 28px;
    }

    footer .top-footer-customer-service li {
        margin-bottom: 12px;
        float: left;
        width: 50%;
    }

    footer .top-footer-customer-service li:last-child {
        margin-bottom: 0;
    }

    footer .top-footer-customer-service li a {
        font-family: var(--font-family-lato);
        font-style: normal;
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-m);
        line-height: 24px;
        color: #FFFFFF;
    }



    footer .top-footer-contact .widget {
        font-family: var(--font-family-open-sans);
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 14px;
    }

    .footer-contact-title {
        color: #fff;
        font-size: 14px;
        text-decoration: underline;
        margin-right: 6px;
    }

    .top-footer-contact p,
    .top-footer-contact a {
        color: #fff;
        font-size: 12px;
        line-height: 26px;
    }

    footer .top-footer {
        width: 100%;
        background-color: var(--faux-cg-blue);
        color: var(--white);
        padding: 5px 0px;
    }

    .top-footer-newslettert h6 {
        margin: 0;
    }

    footer .top-footer-newslettert .wp-block-tnp-minimal p {
        margin: 0;
        padding: 0;
    }

    .top-footer-newslettert section {
        margin: 0;
    }

    .top-footer-newslettert .tnp-subscription-minimal {
        margin-top: 0px;
    }

    footer ul {
        padding: 0;
        list-style: none;
        display: inline-block;
        margin: 0px;
    }

    .social-icons ul {
        margin: 0;
    }

    .payment-options {
        float: right;
        list-style: none;
        display: flex;
        align-items: center;
    }

    .payment-options section {
        margin: 0;
    }

    .payment-options section p {
        margin: 0;
    }

    .payment-options section figure {
        margin: 0;
    }

    footer .top-footer-about {
        padding-top: 30px;
    }

    .top-footer-menu h6 {
        margin-bottom: 0;
    }

    .widget2 section {
        display: inline-block;
    }

    .widget2 section h6 {
        margin-bottom: 0;
    }

    .top-footer-contact section p {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .top-footer-contact section p:last-child() {
        margin-bottom: 0px;
    }

    .top-footer-contact section {
        margin-bottom: 0;
    }

    footer .top-footer-contact h6 {
        margin-bottom: 0;
    }

    footer .top-footer {
        padding: 40px 0px 20px;
    }


}

@media (min-width: 768px) {

    footer .top-footer-customer-service .widget-title {
        margin-top: 58px;
    }

    footer .top-footer-contact h6 {
        margin-top: 58px;
    }

    footer .top-footer-contact h6 {
        margin-bottom: 24px;
    }

    .top-footer-contact section.widget_text {
        margin-top: 0 !important;
        margin-bottom: 12px;
    }

    footer .top-footer {
        padding: 40px 0px;
    }

    .top-footer-newslettert .tnp-subscription-minimal {
        margin-top: 20px;
    }

    .widget2 section h6 {
        margin-bottom: 24px;
    }

    .top-footer-menu h6 {
        margin-bottom: 24px;
    }

    footer .top-footer-about {
        padding-top: 40px;
    }


}

@media screen and (max-width: 767px) {

    footer .top-footer-menu .widget-title,
    footer .top-footer-customer-service .widget-title,
    footer .top-footer-contact h6 {
        margin-top: 30px;
        text-transform: uppercase;
        font-family: "OSR";
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    footer .top-footer {
        padding: 100px 0px;
    }
}

/* Footer top css end */


/* Footer Newsletter css start */

@media (min-width: 0) {
    footer .top-footer-newslettert .widget_block h6 {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--white);
        padding-bottom: 16px;
    }

    .top-footer-newslettert .wp-block-tnp-minimal {
        padding: 0 !important;
    }

    .tnp-subscription-minimal input.tnp-email {
        background-color: var(--frostproof) !important;
        height: 46px;
    }

    .tnp-subscription-minimal input.tnp-email {
        line-height: 14px;
    }

    .tnp-subscription-minimal input.tnp-submit {
        height: 46px;
    }

    .tnp-subscription-minimal input.tnp-email::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: var(--black-russian) !important;
    }

    .tnp-subscription-minimal input.tnp-email::-moz-placeholder {
        /* Firefox 19+ */
        color: var(--black-russian) !important;
    }

    .tnp-subscription-minimal input.tnp-email:-ms-input-placeholder {
        /* IE 10+ */
        color: var(--black-russian) !important;
    }

    .tnp-subscription-minimal input.tnp-email:-moz-placeholder {
        /* Firefox 18- */
        color: var(--black-russian) !important;
    }

    .tnp-subscription {
        margin-left: 0 !important;
    }

    .tnp-field label {
        display: none !important;
    }

    body footer .tnp-subscription-minimal input.tnp-submit {
        background-color: #fff;
        color: #037E9B;
        font-family: var(--font-family-lato) !important;
        font-size: var(--font-size-s) !important;
        font-style: normal;
        position: relative;
        top: 0px;
        text-transform: uppercase;
        letter-spacing: 0.05em !important;
        cursor: pointer;
    }

    footer .tnp.tnp-subscription-minimal form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

@media (min-width:768px) {}

@media (min-width:992px) {}

/* Footer Newsletter css end */


/* Footer bottom css start */

@media (min-width:0px) {
    .payment-options #block-18 {
        display: none;
    }

    .payment-title-mobile {
        width: 100%;
        display: block;
        text-align: right;
        padding-bottom: 10px;
        padding-right: 30px;
        font-size: 12px;
        line-height: 14px;
        font-family: "OSR";
    }

    footer .bottom-footer {
        background-color: var(--faux-cg-blue);
        padding: 0px 0px 30px;
    }

    .social-icons section {
        margin: 0;
    }

    footer .social-icons ul li {
        display: inline-block;
        margin-right: 30px;
    }

    footer .social-icons ul li:first-child {
        padding-left: 0;
    }

    footer .social-icons ul li a {
        color: var(--white);
    }

    footer .social-icons ul li a i {
        font-size: var(--font-size-xxxl);
    }

    footer .payment-options section {
        display: inline-block;
        padding-left: 15px;
    }

    footer .payment-options section.widget_block p {
        font-family: var(--font-family-lato);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 26px;
        color: var(--white);
    }

    footer .bottom-footer .social-link,
    .payment-method {
        display: flex;
    }

    footer .bottom-footer .social-link li,
    .payment-method li {
        padding-right: 10px;
    }

    footer .bottom-footer .social-link li i {
        list-style: none;
        color: var(--faux-cg-blue);
    }

    .bottom-footer-second {
        width: 50%;
    }

    .bottom-footer-first {
        width: 50%;
        display: inline-flex;
        align-items: center;
        height: 100%;
    }

    footer .bottom-footer-row {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
}

@media (min-width:768px) {
    .payment-options #block-18 {
        display: block;
    }

    .payment-title-mobile {
        display: none;
    }
}

@media (min-width:992px) {}


/* Footer bottom css end */