/* Fonts */
@font-face {
  font-family: 'OSB';
  src: url('../fonts/opensans/open-sans.bold.woff2') format('woff2'),
    url('../fonts/opensans/open-sans.bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OSSB';
  src: url('../fonts/opensans/open-sans.semibold.woff2') format('woff2'),
    url('../fonts/opensans/open-sans.semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OSL';
  src: url('../fonts/opensans/open-sans.light.woff2') format('woff2'),
    url('../fonts/opensans/open-sans.light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OSR';
  src: url('../fonts/opensans/open-sans.regular.woff2') format('woff2'),
    url('../fonts/opensans/open-sans.regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
 * GLOBAL CSS FILE
 * This file will contain CSS for only global
 * elements and default/fallback values for headings, buttons,
 * form elements, texts etc
 * Page wise CSS should be written in separate files.
*/

/* CONTAINER */
/* Full-width container (no max-width for large devices)*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--faux-cg-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--faux-cg-blue);
}



.full-width {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.d-none {
  display: none !important;
}

.post,
.page {
  margin: 0;
}

@media only screen and (min-width: 1140px) {
  .container {
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
}

/* RESPONSIVE STYLING */
.row {
  display: block;
  width: 100%;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

[class*="col-"] {
  padding: 0px;
  width: 100%;
}




/* Media query (ONLY FOR TABLET AND LARGE DEVICES - This is known as mobile first) */
@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;
    width: 100%;
    flex-wrap: wrap;
  }

  .row>* {
    flex-shrink: 0;
    pointer-events: auto;
  }


  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25.00%;
    padding: 0px 10px;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50.00%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75.00%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100.0%;
  }
}

@media (min-width:0) {
  .col-12.col-md-6 {
    width: 100%;
  }
  .section-padding {
    padding-top: 50px;
  }

  .section-margin {
    margin-bottom: 50px;
  }
  .woocommerce-products-header {
    padding: 40px 0;
    position: relative;
    z-index: 9;
  }
}

/* Navigation menu Only for mobile and < tablet devices */
@media screen and (max-width: 767px) {

  .section-padding {
    padding: 30px 0px !important;
  }

  .search-section-nav i {
    position: relative;
    top: 20px;
    left: 10px;
  }

  .search-section-nav #s {
    background: var(--white);
    border: 1px solid var(--faux-cg-blue);
    width: 100%;
  }

  .search-section-nav input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--faux-cg-blue);
    margin-left: 20px;
  }

  .search-section-nav input::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--faux-cg-blue);
    margin-left: 20px;
  }

  .search-section-nav input:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--faux-cg-blue);
    margin-left: 20px;
  }

  .search-section-nav input:-moz-placeholder {
    /* Firefox 18- */
    color: var(--faux-cg-blue);
    margin-left: 20px;
  }




  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25.00%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50% !important;
    float: left;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75.00%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100.0%;
  }

  .hero-buttons a {
    padding: 11px 0;
    /* min-width: 112px;
    min-height: 37px; */
    /* width: 144px;
    height: 40px; */
    font-size: 11px;
  }

/* --------------------Start breadcrumb----------------------------- */

  .image-breadcrumb {
    position: relative;
  }
  
  .image-breadcrumb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.6);
  }
 
/* --------------------End breadcrumb----------------------------- */

}

.woocommerce-products-header.clearfix {
  border: 1px solid #dfdfdf;
  padding: 0;
  background: #F9FAFB;
}



@media only screen and (min-width: 768px) {

  .section-padding {
    padding-top: 80px;
  }

  .section-margin {
    margin-bottom: 80px;
  }
  .col-12.col-md-6 {
    width: 50%;
  }


}

/* BUTTONS */
.button {
  padding: 10px 48px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  text-align: center;
  margin: 5px 0;
  /* width: 90%;
  max-width: 233px; */
}

.button-primary {
  background-color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--white);
  color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
}

.button-secondary {
  background-color: var(--white);
  color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
}

.button-secondary:hover {
  background: var(--faux-cg-blue);
  color: var(--white);
  border: 1px solid var(--faux-cg-blue);
}

.button-block {
  width: 100%;
}

/* UTILITY CLASSES */
/* Margins */
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 6px;
}

.mt-4 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 10px;
}

.mt-6 {
  margin-top: 15px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 2px;
}

.pl-2 {
  padding-left: 4px;
}

.pl-3 {
  padding-left: 6px;
}

.pl-4 {
  padding-left: 8px;
}

.pl-5 {
  padding-left: 10px;
}

.pl-6 {
  padding-left: 15px;
}

.pl-10 {
  padding-left: 25px;
}

.pr-10 {
  padding-right: 35px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 4px;
}

.mb-3 {
  margin-bottom: 6px;
}

.mb-4 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 10px;
}

.pr-6 {
  padding-right: 15px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 2px;
}

.pb-2 {
  padding-bottom: 4px;
}

.pb-3 {
  padding-bottom: 6px;
}

.pb-4 {
  padding-bottom: 8px;
}

.pb-5 {
  padding-bottom: 10px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.my-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.px-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-3 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-4 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-6 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-10 {
  padding-left: 35px;
  padding-right: 35px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.border {
  border: 1px solid;
}

.mt-30 {
  margin-top: 30px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-20 {
  border-radius: 20px;
}

.list-disc {
  list-style-type: disc;
}

.d-none {
  display: none;
}

.mx-auto {
  margin: auto;
}

.clearfix {
  clear: both;
  content: "";
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Font weight */
.f-weight-bold {
  font-weight: var(--font-weight-semi-bold);
}

.justify-content-center {
  justify-content: center !important;
}

/* Alignment */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--faux-cg-blue);
}

.text-secondary {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.overflow-hidden {
  overflow: hidden;
}

.section-title {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-IVxl);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  line-height: 130%;
  margin-top: 10px;
}

.subtitle-primary {
  font-family: var(--font-family-opne-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  color: var(--faux-cg-blue);
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.subtitle-secondary {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  color: var(--white);
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}

/* .section-padding {
  padding: 55px 0;
} */

/* DEFAULT MODAL */

/*-- Modal Window --*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.modal-window {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.5), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.2);
  width: 85%;
  max-width: 660px;
  max-height: 80%;
  margin: 10% auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-window>h3 {
  background-color: #eee;
  border-bottom: 1px solid #bfbfbf;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0.8em 56px .8em 27px;
}

.modal-window>div {
  padding: 23px 27px;
}

.modal-window.large {
  margin: 5% auto;
  width: 85%;
  max-width: 820px;
}

.close {
  position: absolute;
  top: 13px;
  right: 10px;
  color: #0085a6;
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.close:hover,
.close:focus {
  background-color: #0085a6;
  color: #fff;
  cursor: pointer;
}

.open {
  display: block;

  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

[data-dismiss="modal"] {
  float: right;
  margin: 0 0 20px 0;
}

/* End Modals ------------------------------*/

/* Breadcrumb */
.woocommerce-breadcrumb {
  font-weight: var(--font-weight-bold) !important;
}

.woocommerce-breadcrumb,
.woocommerce-breadcrumb a {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-l);
  line-height: 19px;
  color: var(--black2);
}

.woocommerce-breadcrumb-desc {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-l);
  line-height: 19px;
  color: var(--black2);
}


.woocommerce-tabs ul.tabs li {
  display: inline-block;
}

.my-custom-account .woo-MyAccount-custom-navigation {
  display: block;
}

.woo-MyAccount-custom-navigation {
  display: none;
}

/*Login/register modal*/
.simple-tabs .tabs {
  overflow: hidden;
}

.simple-tabs .tablinks {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  color: var(--faux-cg-blue);
}

.simple-tabs .tabs .tablinks {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxxl);
  line-height: 36px;
  text-transform: uppercase;
  color: var(--black2);
  margin-right: 30px;
}

.simple-tabs .tabs .tablinks.active {
  color: var(--black2);
  border-bottom: 1px solid var(--faux-cg-blue);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.simple-tabs .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

form.woocommerce-form-login {
  margin-top: 40px;
}

.woocommerce-form-login .forgot-password {
  margin-top: 20px;
  margin-bottom: 28px;
}

.woocommerce-form-login input[type=text],
.woocommerce-form-login input[type=password] {
  background: var(--frostproof);
  border: 1px solid var(--frostproof);
  height: 46px;
  padding: 10px 20px;
  border-radius: 25px;
  width: 100%;
}

.woocommerce-form.woocommerce-form-register input[type=text],
.woocommerce-form.woocommerce-form-register input[type=password],
.woocommerce-form.woocommerce-form-register input[type=email] {
  background: var(--frostproof);
  border: 1px solid var(--frostproof);
  border-radius: 25px;
  width: 100%;
  height: 46px;
  padding: 10px 20px;
  margin: 5px;
  color: var(--white);
}


/* Collapsible/Accordion */
.collapsible a {
  pointer-events: none;
}

.collapse .collapse-item {
  border-bottom: 1px solid #EAEDF1;
}

.collapse .collapsible {
  cursor: pointer;
  width: 90%;
  text-align: left;
  outline: none;
  margin-bottom: 22px;
}

.collapse ul li {
  list-style: none;
}

.collapse .active,
.collapse .collapsible:hover {}

.collapse .collapsible:after {
  content: '\f078';
  float: right;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  color: #C9D3D6;
  font-size: 18px;
}

.collapse .active::after {
  content: "\f077";
  color: #037E9B;
}

.collapse .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
