@media (min-width: 0) {

    /* Top Header css start*/
    .top-left-header {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
    }

    .top-left-header li {
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        margin-right: 10px;
    }

    .top-left-header li a {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        color: #fff;
        position: relative;
        text-transform: unset;
        display: inline-flex
    }

    /* .top-left-header li a::before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 1px;
        border-bottom: 1px solid #fff;
        left: 0;
        opacity: 0.6;
    } */

    .top-header-search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 6px 0px;
    }

    .top-header-search .search-submit {
        background-color: #fff;
        color: #037E9B;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Top Header css end */
    /* Main Header css start */
    .site-branding a {
        width: 106px;
    }

    #menu-main-menu {
        margin-left: 17px;
    }

    #menu-main-menu li a {
        font-size: 12px;
        line-height: 17px;
        font-weight: 300;
        font-family: "OSL";
        letter-spacing: 0.5px;
    }

    .menu-main-menu-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .wc-nav-icon {
        display: flex;
        align-items: center;
    }

    .wc-nav-icon a {
        margin-right: 66px;
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        font-family: "OSR";
        color: #037E9B;
        text-decoration: none;
    }

    .mobile-bag-icon {
        position: relative;
    }

    .wc-nav-icon a:last-child {
        margin-right: 0px;
    }

    #menu-toggler {
        width: 24px;
    }

    .mob-menu-body {
        padding: 20px;
    }

    .mob-menu-footer {
        background-color: #037E9B;
        padding: 30px 20px 20px;
    }

    .mob-menu-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
    }

    .mob-menu-header .menu-main-menu-container {
        justify-content: flex-start;
    }

    .mob-menu-header span {
        font-size: 18px;
    }

    .site-branding .custom-logo-link {
        width: 76px;
    }

    .mob-menu-body ul li {
        margin-top: 16px;
    }

    .mob-menu-body ul li a {
        display: flex;
        align-items: center;
        text-transform: unset;
        color: #037E9B;
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
        font-family: "OSR";
    }

    .mob-menu-body ul li a img {
        width: auto;
        margin-right: 25px;
    }

    header .mob-mega-menu ul {
        margin: 0;
        padding: 5px 0px 30px;
        border-bottom: 1px solid #037E9B;
    }

    .mob-menu-header .custom-logo-link {
        width: 76px;
    }

    .mob-mega-menu .mobile-cart-items-count {
        left: 7px;
        width: 18px;
        height: 18px;
        font-size: 10px;
    }

    .mob-mega-menu #menu-main-menu-1 li a {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .mob-mega-menu #menu-main-menu-1 {
        padding: 0px;
        border: none;
    }

    .mob-menu-header ul li a {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-family: "OSR";
    }

    .mob-menu-header ul li {
        margin-bottom: 20px;
    }

    header .mob-mega-menu .mob-menu-footer ul {
        padding: 0;
    }

    .mob-menu-wc-feature ul li img {
        width: 20px;
        height: auto;
        margin-right: 25px;
    }

    .mob-menu-wc-feature {
        padding: 0px 20px;
    }

    .mob-menu-wc-feature #btn-bag {
        position: relative;
        display: inline-block;
    }

    .mob-menu-wc-feature #btn-bag .count {
        position: absolute;
        right: 16px;
        bottom: 0;
        background-color: #E4A680;
        width: 20PX;
        height: 20px;
        border-radius: 50%;
        font-size: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .mob-mega-menu a:hover {
        color: #037E9B;
    }

    .mob-menu-wc-feature ul li a {
        text-transform: unset;
        font-size: 20px;
        line-height: 27px;
    }

    .mob-menu-footer ul li {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 400;
        font-family: "OSR";
    }

    .mob-menu-footer ul li:last-child {
        margin-bottom: 0px;
    }

    .mob-menu-footer ul li a {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        display: inline-block;
        text-transform: unset;
    }

    .mob-menu-footer ul li a::before {
        position: absolute;
        content: "";
        border-bottom: 1px solid #fff;
        opacity: 0.6;
        left: 0;
        width: 100%;
        bottom: 0;

    }

    .nav-menu-right li:nth-child(3) {
        display: none;
    }

    .nav-menu-right li a {
        width: max-content;
    }

    .nav-menu-right li a img {
        width: 20px;
        height: auto;
    }

    .nav-menu-right li #btn-bag {
        position: relative;
    }

    .nav-menu-right li #btn-bag .count {
        position: absolute;
        bottom: -2px;
        background-color: #E4A680;
        color: #fff;
        width: 18px;
        height: 18px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        right: -7px;
    }

    header .main-navigation .nav-menu-right {
        display: flex;
        align-items: center;
    }

    header .main-navigation .nav-menu-right li {
        margin-right: 20px;
    }

    .header-right {
        display: inline-flex;
        align-items: center;
    }

    .account-btn {
        display: none;
    }

    .mob-search .search-submit {
        display: none;
    }

    header .main-navigation .nav-menu-right .mob-search {
        margin-right: 10px;
    }

    .nav-item.sign-in-btn {
        display: none;
    }

    .nav-menu-right .nav-item .nav-item {
        margin-left: 0;
    }

    .mob-search img {
        position: absolute;
        width: 15px;
        height: auto;
        top: 5px;
        left: 10px;
    }

    .mob-search .search-field {
        padding-left: 30px;
        max-width: 145px;
        font-size: 14px;
        line-height: 19px;
        font-family: "OSR";
        color: #037E9B;
        border: 1px solid #037E9B;
    }

    .mob-search .search-field::placeholder {
        font-size: 14px;
        line-height: 19px;
        font-family: "OSR";
        color: #037E9B;
    }

    /* Main header css end */
    section.main-nav.full-width {
        padding: 10px 0px;
    }

    header .main-navigation #menu-main-menu li {
        position: unset;
    }

    header .main-navigation .menu-main-menu li a {
        color: #1E1E1E;
    }

    header .main-navigation .menu-main-menu li a:visited {
        color: #1E1E1E;
    }

    header #product-search-icon {
        width: 22px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    header #product-search-icon img {
        width: 80%;
        border-radius: 0;
    }

    header #menu-toggler {
        margin-right: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    header #menu-toggler img {
        width: 35px;
        border-radius: 0px;
    }

    header .small-device-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }

    header .small-device-icons ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .small-device-icons ul li {
        margin-left: 15px;
    }

    header .small-device-icons ul li a.my-account-link,
    header .small-device-icons ul li a.mobile-bag-icon {
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .small-device-icons ul li a img {
        width: 22px;
        height: auto;
        border-radius: 0px;
    }

    header .small-device-icons ul li a.mobile-bag-icon img {
        width: 27px;
    }

    header .small-device-icons ul li a.mobile-bag-icon {
        position: relative;
        width: 21px;
        margin-right: 20px;
    }


    header .small-device-icons ul li a.mobile-bag-icon img {
        width: auto;
    }

    header .mobile-cart-items-count {
        position: absolute;
        bottom: -3px;
        right: -10px;
        background-color: #E4A680;
        border-radius: 50px;
        z-index: 9;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: #fff;
    }

    header .mobile-search-box {
        width: 168px;
        margin-top: 0;
        position: relative;
    }

    body header .mobile-search-box .search-form label input {
        width: 100%;
        border: none;
        border-radius: 0px;
        background-color: transparent;
        border: 1px solid #037E9B;
        font-family: "OSR";
        font-weight: 300;
        padding: 5px 10px 5px 35px;
        height: 28px;
        color: #037E9B;
    }

    header .mobile-search-box .search-submit {
        display: none;
    }

    header .mobile-search-icon {
        width: 30px;
        position: absolute;
        top: 5px;
        left: 7px;
    }

    header .mobile-search-icon img {
        width: auto;
        border-radius: 0px;
    }

    header .mob-mega-menu {
        position: absolute;
        width: 90%;
        left: -100%;
        top: 0;
        transition: all 0.3s;
        background-color: #fff;
        z-index: 99;
        max-width: 390px;
    }

    header .mob-mega-menu.left-0 {
        left: 0;
    }
    .top-left-header li a {
        margin-left: 5px;
    }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .top-header-search .woocommerce-product-search {
        display: inline-flex;
        align-items: center;
        height: 28px;
    }

    .nav-item.sign-in-btn {
        display: block;
    }

    .mob-search {
        display: none;
    }

    .account-btn {
        display: block;
    }

    header .main-navigation .nav-menu-right li {
        margin-right: 0;
    }

    header #menu-toggler {
        display: none;
    }

    .site-branding .custom-logo-link {
        width: 106px;
    }

    header .dropdown:hover .dropdown-content {
        display: block;
    }

    .main-navigation .dropdown .dropdown-content {
        display: none;
        left: 0;
    }

    header section.main-nav.full-width {
        padding: 0px;
    }

    header .mega-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F1F1F1;
        z-index: 99;
        padding: 51px 0px;
    }

    header .small-device-icons {
        display: none;
    }

    header #desktopSearch {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    header #desktopSearch .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 600px;
        margin: 0px auto;
        transform: translate(-50%, -70%);
    }

    header #desktopSearch .modal-content form input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 30px;
        font-family: "OSR";
        font-weight: 400;
        border-radius: 0px;
    }

    header #desktopSearch .close {
        top: 0;
        background-color: transparent;
        color: #fff;
        right: 0;
    }

    header #desktopSearch .modal-content form input.search-submit {
        display: none;
    }

    header #desktopSearch .modal-content form input::placeholder,
    header #desktopSearch .modal-content form input::-moz-placeholder,
    header #desktopSearch .modal-content form input::-webkit-input-placeholder {
        font: 30px;
        color: #037E9B;
        font-family: "OSR";
        font-weight: 400;
    }

    header .mobile-search-box {
        display: none;
    }
}

@media (min-width: 992px) {
    .top-left-header li {
        font-size: 14px;
        line-height: 19px;
        margin-right: 60px;
    }
}

@media (min-width: 1200px) {
    .top-left-header li {
        margin-right: 84px;
    }

    .top-left-header li a {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (min-width: 1400px) {}