/*
 * HOME CSS FILE
 * This file will contain CSS for only homepage sections
 */

/* HERO BANNER SECTION */

/* --------------------------Start banner section--------------------------- */

@media (min-width: 0) {
    .home-banner-section .hero-title {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-Vxl);
        font-weight: var(--font-weight-regular);
        color: var(--faux-cg-blue);
        line-height: 65px;
        letter-spacing: 0;
        margin-top: 10px;
    }

    .home-banner-section .hero-title span {
        font-weight: var(--font-weight-bold);
    }

    .home-banner-section .hero-text {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-xxxl);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 33px;
        color: var(--black2);
        width: 100%;
        margin-top: 20px;
    }

    .home-banner-section .hero-paragraph {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 25px;
        color: var(--black2);
        margin-top: 20px;
    }

    .home-banner-section .hero-buttons a {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-semi-bold);
        font-style: normal;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        /* width: 233px;
      height: 45px; */
        padding: 12px 30px;
    }

    .home-banner-section .banner-image-wrap {
        position: relative;
        top: 0;
        left: 0;
    }

    .home-banner-section .banner-image-back {
        width: 100%;
        height: auto;
        max-width: 427px;
        max-height: 572px;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 20px;
    }

    .home-banner-section .banner-image-front {
        width: 100%;
        height: auto;
        max-width: 335px;
        max-height: 448px;
        position: absolute;
        top: 162px;
        left: -40px;
        border-radius: 20px;
    }

    .home-banner-section .row {
        padding: 25px 0px;
    }

    .banner-bottom-btn {
        width: 49%;
        float: left;
    }

    .home-about-us .container .col-5 .section-title {
        display: none;
    }

   
    .home-col-section [class*="col-"] {
        padding: 0px 10px;
    }

    .home-col-section .hero-buttons a {
        width: 100%;
    }

    .banner-button-btn {
        width: 50%;
        margin-right: 20px;
        display: block;
    }

    .home-shop .container .row .col-5 img,
    .home-shop .container .row .col-5 video {
        display: none;
    }

    .banner-button-row {
      display: flex;
      justify-content: start;
  }
  .home-col-section .col-3 {
    width: 50%;
    float: left;
}
.home-col-section .hero-buttons {
  margin: 0;
}
.home-col-section {
  margin-bottom: 35px;
}
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .home-banner-section .row {
        padding: 173px 0px;
    }

    .home-banner-section .banner-texts {
        padding-left: 80px;
    }

    .hero-buttons a {
        font-size: 15px;
        padding: 20px 12px;
        width: 100%;
    }

    /* .hero-buttons .button-secondary {
      width: 97%;
      display: block;
      margin-right: 15px;
      padding: 20px 27px;
  
    } */
    .home-col-section {
        width: 100%;
        height: inherit;

    }
    .banner-button-btn {
      width: 25%;
  }
  .home-col-section {
    position: relative;
    top: -60px;
    box-shadow: 0 0 0 #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    height: 98px;
    margin: 0px auto;
    background: #FFFFFF;
    border-radius: 5px;
}

}

@media (min-width: 992px) {

    /* .hero-buttons .button-secondary {
      max-width: 275px;
    } */
    .banner-bottom-btn {
        width: 25%;
        float: left;
    }
    .home-col-section .col-3 {
      width: 25%;
      float: left;
    }
    .home-col-section {
      margin-bottom: inherit;
    }
}

@media (min-width:1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

@media (min-width:1920px) {}

/* --------------------------End banner section--------------------------- */

@media (min-width: 0) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width:1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

@media (min-width:1920px) {}











@media (min-width: 0) {
    .page-template-front-page .woocommerce-products-header.clearfix {
        display: none;
    }

    .home-banner-section .banner-texts {
        padding-left: 0;
    }

    .home-shop .col-7 video {
        display: none;
    }

    .faq-section {
        background: #F9FAFB;
        padding: 50px 0;
    }

    .home-shop .col-7 video {
        width: 100%;
        display: block;
    }


    .home-product-row {
        justify-content: start;
    }

    .home-product-categories .col-4 {
        margin-right: 0;
        width: 100%;
        float: left;
        padding: 5px 20px;
        background: #f9fafb;
        margin-bottom: 20px;
    }

    .home-product-categories .col-4 li:nth-child(2n+3) {
        margin-right: 0;
    }

    .home-product-categories .col-4 h4 a {
        color: var(--black2);
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-xxl);
        font-style: normal;
    }

    .box-product-categories {
        background: var(--alice-blue);
        padding: 10px 0px 10px 10px;
    }

    .home-about-us {
        background-color: var(--alice-blue);
    }

    .home-about-us .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .home-about-us .container .col-5 {
      padding: 0px;
      margin-top: 0;
      align-self: center;
  }

    .home-shop {
        padding: 50px 0;
    }

    .home-product-categories {
        padding-bottom: 60px;
    }

    .home-shop .section-title,
    .home-industry-section .section-title,
    .home-testimonial-section .section-title {
        margin-bottom: 30px;
    }

    .product-categories h4 a {
        color: var(--black2);
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-xxl);
        font-style: normal;
    }

    .product-categories li a {
        color: var(--faux-cg-blue);
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-xl);
        font-style: normal;
    }

    .home-industry-slider .blogSwiper .swiper-slide {
        background-color: var(--alice-blue);
        padding: 0;
    }

    .home-industry-title {
        padding: 20px;
    }

    .home-industry-title h5,
    .home-industry-title h5 a {
        color: var(--faux-cg-blue);
        font-size: var(--font-size-xxxl);
        line-height: 28px;
    }

    .post-meta {
        color: var(--faux-cg-blue);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-l);
        line-height: 24px;
    }

    .home-industry-slider .swiper-wrapper.row {
        flex-wrap: inherit;
    }

    .home-industry-slider .read-more,
    .home-industry-slider .read-more a {
        color: var(--faux-cg-blue);
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-l);
        line-height: 24px;
    }

    .home-testimonial-section {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .home-testimonial-slider .slide-image img {
        width: 120px;
        height: 120px;
    }

    .testimonial-title h6,
    .testimonial-title h6 a {
        color: var(--faux-cg-blue);
        font-size: var(--font-size-xxxl);
        margin: 15px 0;
    }

    /* Home Faq */
    .home-faq-section {
        background-color: var(--alice-blue);
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 20px;
    }

    .accordion-item {
        border-bottom: 1px solid var(--faux-cg-blue);
    }

    .accordion-container .article-title {
        position: relative;
        padding: 0.625em 0 0.625em 0;
        cursor: pointer;
    }

    .accordion-container .article-title:hover,
    .accordion-container .article-title:active,
    .accordion-container .content-entry.open .article-title {
        color: var(--faux-cg-blue);
    }

    .accordion-container .article-title:hover i:before,
    .accordion-container .article-title:hover i:active,
    .accordion-container .content-entry.open i {
        color: var(--faux-cg-blue);
    }

    .accordion-container .content-entry i {
        position: absolute;
        right: 0;
    }

    .accordion-container .content-entry i:before {
        content: "\25BC";
    }

    .accordion-container .content-entry.open i:before {
        content: "\25B2 ";
    }

    .accordion-contenta {
        display: none;
    }

    .home-about-us {
        padding: 50px 20px;
    }

    .home-about-us .container .col-7,
    .content-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .home-about-us .container .col-5 .section-title {
        display: block;
        text-align: left;
    }

    .home-about-us .section-title {
        margin: 0;
    }

    .home-product-categories ul li a {
        color: #037E9B;
    }

    .home-product-categories ul {
        padding-left: 8px;
    }

    .home-product-categories h4 {
        padding: 15px 0 5px 0;
        margin: 0;
    }

    /* .home-about-us .container .col-7 .section-title{
    display: none;
  } */
    /* .home-about-us .container .col-7 .section-description{
    padding-top: 20px;
  } */
    .home-shop .container .row .col-5 img {
        display: none;
    }

    .home-shop .container .row .col-5 video {
        display: block;
        height: auto;
        margin-bottom: 25px;
    }

    .home-shop .col-5 h3.section-title {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-m-IVxl);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 28px;
        text-align: left;
        padding-top: 10px;
        /* padding-bottom: 10px; */
    }

    .home-about-us .container .col-7 img {
        display: none;
    }

    .home-about-us .button,
    .home-shop .button {
        width: 233px;
    }

    .home-industry-slider h5 a {
        color: var(--faux-cg-blue);
    }

    .home-shop .container .col-12 .section-title {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-m-IVxl);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 36px;
    }

    .home-shop .container .col-7 img {
        display: none;
    }

    .product-categories {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home-col-section .row {
        padding-top: 25px;
    }

    .content-wrap .section-title {
        display: none;
    }

    /* .hero-buttons .button-secondary {
    width: 97%;
    display: block;
    margin-right: 15px;
    padding: 20px 27px;
    max-width: 275px;
  } */

}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .home-about-us .container .col-7 {
        padding-left: 70px;
        padding-right: 50px;
    }

    .home-product-categories .col-4 {
        margin-right: 20px;
        width: 46%;
        margin-bottom: 20px;
    }

    .content-wrap .section-title {
        display: block;
    }

    .home-about-us {
        padding: 0 20px;
    }

    .home-shop .col-7 video {
        display: block;
    }

    .home-faq-section {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-top: 50px;
    }

    .home-product-categories h1 {
        margin-top: .0;
    }
    .home-about-us .container .col-5 .section-title, .home-shop .container .row .col-5 video {
      display: none;

  }


}

@media (min-width: 992px) {
    .home-product-categories .col-4 {
        margin-right: 20px;
        width: 31.5%;
        margin-bottom: 20px;
    }

}

@media (min-width:1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

@media (min-width:1920px) {
    .home-banner-section {
        background-position: top center !important;
    }
}




/*Tablet*/
@media only screen and (min-width: 768px) {}

/*Laptop*/
@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1920px) {
    .home-banner-section {
        background-position: top center !important;
    }
}

@media only screen and (max-width: 767px) {
    .home-about-us {
        padding-left: 20px;
        padding-right: 20px;
    }

    .home-about-us .container .col-7,
    .content-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .home-about-us .container .col-5 .section-title {
        display: block;
    }

    .home-about-us .container .col-7 .section-title {
        display: none;
    }

    .home-about-us .container .col-7 .section-description {
        padding-top: 20px;
    }

    .home-shop .container .row .col-5 img {
        display: none;
    }

    .home-shop .container .row .col-5 video {
        display: block;
    }

    .home-shop .col-5 h3.section-title {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-m-xxl);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 28px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .home-about-us .container .col-7 img {
        display: none;
    }

    .home-about-us .button,
    .home-shop .button {
        width: 100%;
    }

    .home-industry-slider h5 a {
        color: var(--faux-cg-blue);
    }

    .home-shop .container .col-12 .section-title {
        font-family: var(--font-family-open-sans);
        font-size: var(--font-size-m-IVxl);
        font-weight: var(--font-weight-regular);
        font-style: normal;
        line-height: 36px;
    }

    .home-shop .container .col-7 img {
        display: none;
    }

    .product-categories {
        padding-top: 20px;
        padding-bottom: 20px;
    }


}