@media (min-width: 0) {
    .order-banner-section {
        display: none;
      }
      .how-to-order-section.full-width {
        padding-top: 50px;
    }
    .order-col-section .section-title {
      margin-bottom: 20px;
  }
  .page-template-how-to-order img {
    border-radius: 20px;
  }
  .order-by-phone-section {
    margin: 50px 0;
  }
       .order-by-phone-section, .about-main-banner {
        background: #F9FAFB;
        padding: 50px 0;
      }
      .page-template-how-to-order ul li {
        font-family: var(--font-family-open-sans);
        font-size: 14px;
        font-weight: var(--font-weight-light);
        font-style: normal;
        color: var(--black2);
        width: 100%;
        line-height: 22px;
        margin: 10px 0;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {

}

@media (min-width: 992px) {}

@media (min-width:1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

@media (min-width:1920px) {}