/*
 * GLOBAL CSS FILE
 * This file will contain CSS for only global
 * elements and default/fallback values for headings, buttons,
 * form elements, texts etc
 * Page wise CSS should be written in separate files.
*/

/* CONTAINER */
/* Full-width container (no max-width for large devices)*/
.full-width {
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 1140px) {
  .container {
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
}

/* RESPONSIVE STYLING */
.row {
  display: block;
  width: 100%;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

[class*="col-"] {
  padding: 5px;
  width: 100%;
}

/* Media query (ONLY FOR TABLET AND LARGE DEVICES - This is known as mobile first) */
@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    pointer-events: none;
    width: 100%;
  }

  .row > * {
    flex-shrink: 0;
    pointer-events: auto;
  }

  .col-1 { width: 8.33%;}
  .col-2 { width: 16.66%;}
  .col-3 { width: 25.00%;}
  .col-4 { width: 33.33%;}
  .col-5 { width: 41.66%;}
  .col-6 { width: 50.00%;}
  .col-7 { width: 58.33%;}
  .col-8 { width: 66.66%;}
  .col-9 { width: 75.00%;}
  .col-10 { width: 83.33%;}
  .col-11 { width: 91.66%;}
  .col-12 { width: 100.0%;}
}

/* HEADER STYLING */

/* Top Nav */
header .top-header-section {
  background-color: var(--faux-cg-blue);
  color: var(--white);
  height: 40px;
  padding: 16px 0px;
  border-bottom: 1px solid var(--faux-cg-blue);
  display: flex;
  align-items:center;
  justify-content:center;
  border-bottom: 1px solid var(--faux-cg-blue);
}

header .top-header-style-2{
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
  color: var(--white);
  line-height: var(--line-height-m);
  position: relative;
  top: 15px;
}

header .top-header-style-2 span{
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
  color: var(--white);
  line-height: var(--line-height-m);
}

header .top-header-style-2 a{
  color: var(--white);
}

#s{
  width: 40%;
  background-color: var(--faux-cg-blue2);
  height: 25px;
  border: 0;
}

#categorysubmit{
  height: 28px;
  opacity: 0.8;
}

#searchsubmit{
  background-color: var(--white);
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
  color: var(--faux-cg-blue);
  line-height: var(--line-height-m);
  width: 85px;
  height: 28px;
}

header .top-header-content p {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-normal);
  color: var(--faux-cg-blue);
}

header .top-header-content p span.know-more {
  color: var(--faux-cg-blue);
  text-decoration: underline;
}

/** RESPONSIVE NAVBAR */
header .main-nav {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 73px;
}

header .site-branding {
  flex: 50%;
}

header .navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header .site-branding .site-title {
  color: var(--faux-cg-blue);
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 19px;
  min-width: 168px;
  text-transform: uppercase;
}

header .nav-menu-container {
  display: none;
}

header ul li {
  list-style: none;
}

header li a {
  color: var(--faux-cg-blue);
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

header .menu-toggler {
    display: block;
}

header .menu-toggler .toggle-icon {
    text-decoration: none;
}

.dropbtn {
  background-color: #04AA6D;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media only screen and (min-width: 375px ) {
  header .site-branding.header-logo img{
    width: 106px;
    height: 56px;
  }
}

/* Navigation menu Only for mobile and < tablet devices */
@media screen and (max-width: 767px) {
  header .navbar.responsive .nav-menu-container {position: relative;}
  header .navbar.responsive .nav-menu-container {
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: #eee;
    height: 100vh ;
    width: 50vw;
  }
  header .navbar.responsive li {
    display: block;
    text-align: left;
  }
  header .navbar.responsive li a {
    color: #000;
    text-decoration: none;
  }
  header .top-header-section{
    display: none;
  }
  header .search-section-nav, .bag-section {
    display: block;
  }
  .bag-section{
    width: 21px;
    height: 24px;
  }
}

@media only screen and (min-width: 768px) {
  header .search-section-nav, .bag-section {
    display: none;
  }
  .dropdown-content li{
    margin-left: 0 !important;
  }
  header .site-branding {
    flex: 0%;
  }
  header .nav-menu-container {
    display: flex;
    flex: 87%;
    justify-content: space-between;
  }
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .nav-menu-right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .nav-menu li,
  header .nav-menu-right li {
    margin-left: 50px;
  }
  header .menu-toggler {
    display: none;
  }
}

/* BUTTONS */
.button {
  padding: 15px 48px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  text-align: center;
  margin: 5px;
  min-height: 45px;
  min-width: 200px;
}

.button-primary {
  background-color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--white);
  color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
}

.button-secondary {
  background-color: var(--white);
  color: var(--faux-cg-blue);
  border: 1px solid var(--faux-cg-blue);
}

.button-secondary:hover {
  background: var(--faux-cg-blue);
  color: var(--white);
  border: 1px solid var(--faux-cg-blue);
}


/* UTILITY CLASSES */
/* Margins */
.mt-0 { margin-top: 0;}
.mt-1 { margin-top: 2px;}
.mt-2 { margin-top: 4px;}
.mt-3 { margin-top: 6px;}
.mt-4 { margin-top: 8px;}
.mt-5 { margin-top: 10px;}

.mb-0 { margin-bottom: 0;}
.mb-1 { margin-bottom: 2px;}
.mb-2 { margin-bottom: 4px;}
.mb-3 { margin-bottom: 6px;}
.mb-4 { margin-bottom: 8px;}
.mb-5 { margin-bottom: 10px;}

.my-0{ margin-top: 0; margin-bottom: 0;}
.my-1{ margin-top: 2px; margin-bottom: 2px;}
.my-2{ margin-top: 4px; margin-bottom: 4px;}
.my-3{ margin-top: 6px; margin-bottom: 6px;}
.my-4{ margin-top: 8px; margin-bottom: 8px;}
.my-5{ margin-top: 10px; margin-bottom: 10px;}

.pb-20 { padding-bottom: 20px; }
.mt-30 { margin-top: 30px;}

.border-radius-20 {
  border-radius: 20px;
}

.d-none{
  display: none;
}

.clearfix { clear: both; content: "";}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Alignment */
.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}
.text-uppercase { text-transform: uppercase;}

.text-primary{ color: var(--faux-cg-blue);}
.text-secondary{ color: var(--white);}

.text-black{ color: var(--black);}
.text-white{ color: var(--white);}

.overflow-hidden { overflow: hidden;}

.section-title {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 46px;
  margin-top: 10px;
}

.subtitle-primary {
  font-family: var(--font-family-opne-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  color: var(--faux-cg-blue);
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.subtitle-secondary {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  color: var(--white);
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}


/* DEFAULT MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.not-found {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--faux-cg-blue);
  border-radius: 20px;
  width: 50%;
}

.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}


/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
	        transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  width: 50%;
  height: 50%;
  left: 25%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

/* FOOTER */
footer {
    color: var(--white);
}
footer .top-footer {
  width: 100%;
  background-color: var(--faux-cg-blue);
  color: var(--white);
  padding: 100px 0px;
}
footer .top-footer-about h6 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
}
footer .top-footer-about .widget {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 10px;
}

/* Footer Menu */
footer .top-footer-menu .widget-title {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 81px;
}
footer .top-footer-menu li {
  margin-top: 14px;
}
footer .top-footer-menu li a {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}

/* Customer Menu */
footer .top-footer-customer-service .widget-title {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 81px;
}
footer .top-footer-customer-service li {
  margin-top: 14px;
}
footer .top-footer-customer-service li a {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}

/* Contact Menu */
footer .top-footer-contact h6 {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 81px;
}
footer .top-footer-contact .widget {
  font-family: var(--font-family-open-sans);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 14px;
}

 .tnp-subscription {
   margin-left: 0 !important;
 }
 .tnp-field label {
   display: none !important;
 }

footer .bottom-footer {
   background-color: var(--faux-cg-blue);
   height: 60px;
}

footer .social-icons ul li{
  display: inline-block;
}

footer .social-icons ul li a{
  color: var(--white);
}

footer .payment-options{
  display: flex;
}

footer .payment-options img{
  width: 60px;
  height: 38px;
}

footer .bottom-footer .social-link, .payment-method {
  display: flex;
}

footer .bottom-footer .social-link li, .payment-method li{
  padding-right: 10px;
}

footer .bottom-footer .social-link li i {
  list-style: none;
  color: var(--faux-cg-blue);
}
.woocommerce-tabs ul.tabs li {
    display: inline-block;
}
.my-custom-account .woo-MyAccount-custom-navigation{
  display: block;
}
.woo-MyAccount-custom-navigation{
  display: none;
}
