/*
 * HOME CSS FILE
 * This file will contain CSS for only homepage sections
 */

/* HERO BANNER SECTION */
.home-banner-section {
  padding: 173px 0px;
}
.home-banner-section .hero-title {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-Vxl);
  font-weight: var(--font-weight-regular);
  color: var(--faux-cg-blue);
  line-height: 65px;
  letter-spacing: 0;
  margin-top: 10px;
}
.home-banner-section .hero-title span {
  font-weight: var(--font-weight-bold);
}
.home-banner-section .hero-text {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: 33px;
  color: var(--black2);
  width: 100%;
  margin-top: 20px;
}

.home-banner-section .hero-paragraph {
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: 25px;
  color: var(--black2);
  margin-top: 20px;
}

.home-banner-section .banner-image-wrap {
  position: relative;
  top: 0;
  left: 0;
}
.home-banner-section .banner-image-back {
  width: 100%;
  height: auto;
  max-width: 427px;
  max-height: 572px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.home-banner-section .banner-image-front {
  width: 100%;
  height: auto;
  max-width: 335px;
  max-height: 448px;
  position: absolute;
  top: 162px;
  left: -40px;
  border-radius: 20px;
}

.product-categories h4 a{
  color: var(--black2);
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
}

.product-categories li a{
  color: var(--faux-cg-blue);
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
}

.home-testimonial-slider .slide-image img{
  width: 120px;
  height: 120px;
}

@media only screen and (min-width: 375px ) {

}

@media only screen and (min-width: 425px ) {

}

/*Tablet*/
@media only screen and (min-width: 768px ) {
  .home-col-section{
    position: relative;
    top: -40px;
    box-shadow: 0 0 0 #ffffff;
    max-width: var(--container-max-width);
    margin: 0 auto;
    width: 1280px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 5px;
  }
}

/*Laptop*/
@media only screen and (min-width: 1024px ) {

}

@media only screen and (max-width: 767px ) {

  .home-about-us .button{
    width: 100%;
  }
  .home-industry-slider h5 a{
    color: var(--faux-cg-blue);
  }
}
