:root {
  --black: #000000;
  --faux-cg-blue: #037E9B;
  --faux-cg-blue1: #2394AE;
  --faux-cg-blue2: #4EB0C7;
  --white: #ffffff;

  --primary-color: #037E9B;
  --secondary-color: #ffffff;

  --font-size-m: 12px;
  --font-size-l: 14px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 24px;
  --font-size-IVxl: 34px;
  --font-size-Vxl: 48px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --container-max-width: 1320px;

  --font-family-open-sans: 'Open Sans', sans-serif;

  --btn-bg-primary: #037E9B;
  --btn-bg-secondary: #ffffff;

  --btn-color-primary: #ffffff;
  --btn-color-secondary: #000000;
}


/* Basic Styling */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: var(--faux-cg-blue);
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: var(--font-weight-light);
  text-align: left;
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


/* TYPOGRAPHY */
div {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-light);
  -webkit-text-size-adjust: none;
  font-style: normal;
}

h1 {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
}

h2 {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
}

h3 {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
}

h4 {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
  font-style: normal;
}

h5 {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  font-style: normal;
}

h6 {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  font-style: normal;
}

a {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  display: contents;
  text-decoration: none;
  font-style: normal;
}

p {
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  font-style: normal;
}

table{
  width: 100%;
}


/* FORMS AND BUTTONS */
input {
  background-color: var(--white);
  color: var(--black);
  outline: none;
}

textarea {
  background-color: var(--white);
  color: var(--black);
  outline: none;
}

/* Responsive images */
img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
