.woocommerce-breadcrumb a {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: #1E1E1E;
}

.nav-filters {
    display: flex;
    justify-content: space-between;
}

ul.products li.product {
    padding: 15px;
    background-color: #F7F7F7;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
	text-align: center;
}

ul.products li.product span.onsale {
	float: right;
}

ul.products li.product h2.woocommerce-loop-product__title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	margin-top: 65px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;
}
ul.products li.product span.price {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	color: #1E1E1E;
}